<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>
</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container" style="background-color:lightgrey">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="container">
        <img align="top" height="500px" width="1100px" src="../../static/images/interstellar.jpg"
             th:src="@{/images/interstellar.jpg}" class="img-rounded"/>
    </div>
    <div class="row text-center">
        <p class="lead"></p>
    </div>
    <div class="row text-center">
        <p><!--                                                    --></p>
    </div>

</div>

</body>
</html>